body
{
  background-color:white;
  background-image: url("hunter-harritt-Ype9sdOPdYc-unsplash.jpg");
  background-repeat:no-repeat;
  background-size:1500px;
}
h2
{
  text-align:center;
  color:white;
  text-shadow:2px 3px red;
}
textarea
{
  width:99.1%;
  height:200px;
}
.whole
{
  border:1px solid white;
  width:50%;
  height:470px;
  background-color:black;
  margin-left:300px;
}
.btn1 button
{
  width:100%;
  height:50px;
  background-color:#28a142;
}
.btn2 button
{
  width:100%;
  height:50px;
  background-color:#eb4f34;
}
.btn1 button:hover
{
  background-color:green;
}
.btn2 button:hover
{
  background-color:red;
}